<h1>Gotta Catch Em All</h1>
<div class="login">
  <form class="form" action="/" method="post">
    <select id="trainers" class="dropdown">
    {{#each trainers}}
    <option value={{name}}>{{name}}</option>
    {{/each}}
    </select>
    <input class="button" type="submit" name="" value="Select Trainer">
  </form>

  <form class="form" action="/" method="post">
    <input type="text" name="trainer" placeholder="What's your name trainer?" value="">
    <input class="button" type="submit" name="" value="New Trainer">
  </form>
</div>

<br>
<!--<a href="/trainerid/1">Ash</a> <a href="/trainerid/2">Misty</a> <a href="/trainerid/3">Brock</a>-->