<h1>Choose Your New Best Friend</h1>

    {{#each pokemonList}}
    <img src={{image}}>
    <p>{{name}}</p>
    <form action="/{{trainerId}}/new" method="post">   
    <input type="hidden" name="name" value={{name}}>
    <input type="submit" name="" value="Select Pokemon">
    </form>
    {{/each}}

