<h1>Choose Your New Best Friend</h1>
{{#each pokemonList}}
    <img src={{image}}>
    <p>{{name}}</p>
    <form action="/trainerid/:id/new" method="post">
    <input type="hidden" name = "pokemonId" value={{id}}>
    <input type="submit" name="" value="Select Pokemon">
    </form>
{{/each}}
